html, body {
	height: 100%;
}
body{
	background-color: #f8f8f8;
}
p{
	text-align: justify;
    text-justify: inter-word;
}
/* For mobile phones: */
#me{
		width: 300px;
		height: 300px;
	}
.main {
	min-height: 100%;
	overflow:auto;
	padding-bottom:150px; /* this needs to be bigger than footer height*/
}
.footer{
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
	padding-top:20px;
} 
/*to blur the image*/
.blurImage{
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    #me{
		width: 400px;
		height: 400px;
	}
}